:root {
  --color1: #303841;
  --color2: #3A4750;
  --color3: #EA9215;
  --color4: #EEEEEE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
}

body {
  background-color: var(--color2);
  scrollbar-color: var(--color3) var(--color1);
}

ul {
  list-style: none;
  margin: auto;
}

.exam_choice {
  background-color: var(--color1);
  width: 600px;
  margin: auto;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 1px solid var(--color4);
  padding-bottom: 32px;
}

.exam_header {
  color: var(--color4);
  margin-top: 32px;
  text-align: center;
}

.exam_button {
  background-color: var(--color1);
  width: fit-content;
  padding: 8px 16px;
  border: 4px solid var(--color3);
  border-radius: 50% 2%;
  margin: 12px;
  margin: auto;
  margin-top: 12px;
}

.exam_button a {
  color: var(--color4);
  text-decoration: none;
}

.exam {
  width: 1200px;
  height: 100vh;
  margin: auto;
}